@import 'Variables.scss';

html,
body,
#root, .appContainer{
  width: 100%;
  height: 100%;
  background: $backgroundColor;
}

body {
  font-family: 'Open Sans';
  background-size: cover;
  background-repeat: no-repeat;
}


.uk-container {
  box-sizing: border-box;
  max-width: 980px;
  padding: 0 25px;
  margin: auto;
}
@media (min-width: 1220px) {
  .uk-container {
    max-width: 1200px;
    padding: 0 35px;
  }
}
.uk-container:before,
.uk-container:after {
  content: "";
  display: table;
}
.uk-container:after {
  clear: both;
}
.uk-container-center {
  margin-left: auto;
  margin-right: auto;
}

/* Standards */

.fontLight{
  color: rgba(255,255,255, 1) !important;
}

.fontDark{
  color: rgba(0,0,0, 0.8) !important;
}

.textCenter{
  text-align:center;
}

.marginAuto{
  margin: 0 auto;
}

.uk-form-buttons{
  margin-top: 24px;
}

.uk-heading-large{
  font-weight: 700;
  font-size: 30px;
}

.uk-heading-medium{
  font-weight: 600;
  font-size: 24px;
}

.uk-button-secondary {
  background-color: #F2F2F2;
  color: #ccc;
  border: 1px solid rgba(0,0,0,0.05);
}



